<div class="main">
    <div class="container">

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->

            <!-- END SIDEBAR -->

            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-7 ">
                <h1>Register</h1>
                <div class="content-form-page">
                    <form role="form" class="form-horizontal form-without-legend">
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="first-name">UserName<span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" id="first-name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="last-name">Password<span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" id="first-name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="telephone">Fullname<span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="email">E-Mail <span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="email">Photo <span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="file" id="email" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                                <button class="btn btn-primary" type="submit">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>