<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/home/index1">Home</a>
        <a href="/home/about1">About Us</a>
        |||
        <a href="/home/admins1">Admin</a>::
        <a href="/home/users1">Users</a>::
        <a href="/home/authenticated1">Authenticated</a>
        |||
        <a href="/home/thymeleaf11">Thymeleaf1</a>
        :: 
        <a href="/home/thymeleaf22">Thymeleaf2</a>
        |||
        <a href="/auth/login/form">Login</a>
        <a href="/auth/logoff">Logout</a>
        |||
        <a href="/authority/index.html">Authorize</a>
    </nav>
</body>

</html>